.homePageLeftDiv{
    margin-top: 100px;
}

.headerStoreNameDiv{
    text-alin: left;
}

.headerStoreName{
    font-size: x-large;
}

.headerUserDiv{
    text-align: right;
}

.headerStoreNameDiv{
    height:50px;

}